@model ColaboradorListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Colaborador</h1>

<p>There are a total of @Model.PagingInfo.TotalItems colaborador</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var colaborador in Model.Colaboradors)
{
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">@colaborador.Name</h5>
            <p class="card-text lead">@colaborador.Email</p>
            <p class="card-text">@colaborador.Contacto</p>
            <p class="card-text">@colaborador.Cargo</p>

            <a asp-action="Details" asp-route-id="@colaborador.ColaboradorId" class="btn btn-info">Details</a>
            <a asp-action="Edit" asp-route-id="@colaborador.ColaboradorId" class="btn btn-warning">Edit</a>
            <a asp-action="Delete" asp-route-id="@colaborador.ColaboradorId" class="btn btn-danger">Delete</a>
        </div>
    </div>
}
<nav class="mt-3">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" asp-action="Index" asp-route-page="1">First</a>
        </li>
        @{
            for (int p = 1; p <= Model.PagingInfo.TotalPages; p++)
            {
                if (p == Model.PagingInfo.CurrentPage)
                {
                    <li class="page-item active">
                        <a class="page-link" href="#">@p <span class="sr-only">(current)</span></a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-page="@p">@p</a>
                    </li>
                    }
                }
            }
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@Model.PagingInfo.TotalPages">Last</a>
            </li>
        </ul>
    </nav>
