@model IEnumerable<GestorDeTarefas.Models.PedidoCliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mensagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resposta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mensagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resposta)
            </td>
            <td>
                 @if (User.IsInRole("gestor") || User.IsInRole("admin"))
                 {
                <a asp-action="ResponderPedido" asp-route-id="@item.ID">Responder</a> 

                <a asp-action="Details" asp-route-id="@item.ID">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                 }
            </td>
        </tr>
}
    </tbody>
</table>
