@model GestorDeTarefas.Models.SistemaProdutividade

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Projeto</h1>

<div>
    <h4>SistemaProdutividade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrevistaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPrevistaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDefinitivaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDefinitivaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrevistaFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPrevistaFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDefinitivaFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDefinitivaFim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SistemaProdutividadeId">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar a lista</a>
</div>
