@model GestorDeTarefas.ViewModels.SistemProdListViewmodel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes do Projeto</h1>

<div>
    <h4>SistemaProdutividade</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProjeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeProjeto)
        </dd>
        <dt class="col-sm-10">
            <!-- @Html.DisplayFor(model => model.Colaboradores)-->
            Colaboradores:
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Colaboradores)
            {
                if (item.Checked)
                {
                    <div>@item.Name</div>
                }
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_SistemaProdutividade">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar a lista</a>
</div>
