@model IdiomaListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Idioma</h1>

<p>Existe num total de @Model.PagingInfo.TotalItems idiomas</p>



@if (User.IsInRole("gestor"))
{
    <p>
        <a asp-action="Create" class="btn btn-dark">Criar Novo</a>
    </p>
}


    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Pesquisar</h5>
            <form asp-action="Index" method="get">
                <label for="name" class="control-label">Nome</label>
                <input name="name" type="search" placeholder="Pesquise aqui" class="form-control" value="@Model.TitleSearched" />
                <div class="mt-3">
                    <input type="submit" value="Procurar" class="btn btn-info" />
                    <a asp-action="Index" class="btn btn-secondary">Limpar</a>
                </div>
            </form>
        </div>
    </div>


    @foreach (var idioma in Model.Idiomas)
    {
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">@idioma.NomeIdioma</h5>


                @*<a asp-action="Details" asp-route-id="@idioma.IdiomaId" class="btn btn-info">Detalhes</a>*@
                @if (User.IsInRole("gestor"))
                {
                    <a asp-action="Edit" asp-route-id="@idioma.IdiomaId" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@idioma.IdiomaId" class="btn btn-danger">Eliminar</a>
                }
                </div>
        </div>
    }


    <nav class="mt-3">
        <ul class="pagination">
            @{
                if (Model.PagingInfo.CurrentPage == 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">First</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-page="1">Primeiro</a>
                    </li>
                }


                int firstPage = Model.PagingInfo.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                if (firstPage < 1) firstPage = 1;

                int lastPage = Model.PagingInfo.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                if (lastPage > Model.PagingInfo.TotalPages) lastPage = Model.PagingInfo.TotalPages;

                for (int p = firstPage; p <= lastPage; p++)
                {
                    if (p == Model.PagingInfo.CurrentPage)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="#">@p <span class="sr-only">(current)</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-page="@p">@p</a>
                        </li>
                    }
                }

                if (Model.PagingInfo.CurrentPage == Model.PagingInfo.TotalPages)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Ultimo</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-page="@Model.PagingInfo.PageSize">Ultimo</a>
                    </li>
                }
            }
        </ul>
    </nav>