@model IEnumerable<GestorDeTarefas.Models.Idioma>

@{
    ViewData["Title"] = "Index";
}

<h1>Idioma</h1>

<p>
    <a asp-action="Create" class="btn btn-dark" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeIdioma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeIdioma)
            </td>
            <td>                
                <a asp-action="Details" asp-route-id="@item.IdiomaId" class="btn btn-info">Detalhes</a>
                <a asp-action="Edit" asp-route-id="@item.IdiomaId" class="btn btn-warning">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.IdiomaId" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
