@model IdiomaListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Idioma</h1>

<p>Existe num total de @Model.PagingInfo.TotalItems idiomas</p>



<p>
    <a asp-action="Create" class="btn btn-dark">Criar Novo</a>
</p>


@foreach (var idioma in Model.Idiomas)
{
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">@idioma.NomeIdioma</h5>
            

            <a asp-action="Details" asp-route-id="@idioma.IdiomaId" class="btn btn-info">Details</a>
            <a asp-action="Edit" asp-route-id="@idioma.IdiomaId" class="btn btn-warning">Edit</a>
            <a asp-action="Delete" asp-route-id="@idioma.IdiomaId" class="btn btn-danger">Delete</a>
        </div>
    </div>
}


<nav class="mt-3">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" asp-action="Index" asp-route-page="1">First</a>
        </li>
        @{
            for (int p = 1; p <= Model.PagingInfo.TotalPages; p++)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@p">@p</a>
                </li>
            }
        }
        <li class="page-item">
            <a class="page-link" asp-action="Index" asp-route-page="@Model.PagingInfo.PageSize">Last</a>
        </li>
    </ul>
</nav>