@model IdiomaListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Idioma</h1>

<p>Existe num total de @Model.PagingInfo.TotalItems idiomas</p>



<p>
    <a asp-action="Create" class="btn btn-dark">Criar Novo</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idiomas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Idiomas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeIdioma)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdiomaId" class="btn btn-info">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@item.IdiomaId" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.IdiomaId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@


@foreach (var idioma in Model.Idiomas)
{
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">@idioma.NomeIdioma</h5>
            

            <a asp-action="Details" asp-route-id="@idioma.IdiomaId" class="btn btn-info">Details</a>
            <a asp-action="Edit" asp-route-id="@idioma.IdiomaId" class="btn btn-warning">Edit</a>
            <a asp-action="Delete" asp-route-id="@idioma.IdiomaId" class="btn btn-danger">Delete</a>
        </div>
    </div>
}
