@model IEnumerable<GestorDeTarefas.Models.Cargo>

@{
    ViewData["Title"] = "Index";
}

<h1>Cargo</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_Cargo)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CargoId" class="btn btn-info">Details</a>
                <a asp-action="Edit" asp-route-id="@item.CargoId" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.CargoId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
