@model CargoListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Cargo</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Criar Novo</a>
</p>
@foreach (Cargo cargo in Model.Cargos)
{
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">@cargo.Nome_Cargo</h5>


            <a asp-action="Details" asp-route-id="@cargo.CargoId" class="btn btn-info">Details</a>
            <a asp-action="Edit" asp-route-id="@cargo.CargoId" class="btn btn-warning">Edit</a>
            <a asp-action="Delete" asp-route-id="@cargo.CargoId" class="btn btn-danger">Delete</a>
        </div>
    </div>
}

<nav class="mt-3">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" asp-action="Index" asp-route-page="1">First</a>
        </li>
        @{
            for (int p = 1; p <= Model.PagingInfo.TotalPages; p++)
            {
                if (p == Model.PagingInfo.CurrentPage)
                {
                    <li class="page-item active">
                        <a class="page-link" href="#">@p <span class="sr-only">(current)</span></a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-page="@p">@p</a>
                    </li>
                    }
                }
            }
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@Model.PagingInfo.TotalPages">Last</a>
            </li>
        </ul>
    </nav>