@model IEnumerable<GestorDeTarefas.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Criar novo cliente</a>
</p>


@foreach (var cliente in Model)
{
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">@cliente.Nome</h5>
            <p class="card-text lead">@cliente.Email</p>


            <a asp-action="Details" asp-route-id="@cliente.ClienteId" class="btn btn-info">Details</a>
            <a asp-action="Edit" asp-route-id="@cliente.ClienteId" class="btn btn-warning">Edit</a>
            <a asp-action="Delete" asp-route-id="@cliente.ClienteId" class="btn btn-danger">Delete</a>
        </div>
    </div>
}