@model GestorDeTarefas.Models.ProjetoSprintDesign

@{
    ViewData["Title"] = "Apagar";
}

<h1 class="text-danger" >Apagar Projeto Sprint Design</h1>

<h3 class="text-danger">Tem certeza que quer apagar isto?</h3>
<div>
    
    <div class="table-responsive">
        <table class="table table-bordered " width="100%" cellspacing="0">

            <tbody>
                <tr>
                    <th scope="row"><h6>Nome do projeto</h6></th>
                    <td>@Html.DisplayFor(model => model.NomeProjeto)</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Data prevista de inicio</h6></th>
                    <td>   @Model.DataPrevistaInicio.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Data prevista de fim</h6></th>
                    <td>@Model.DataPrevistaFim.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Data definitiva de inicio</h6></th>
                    <td>
                        @if (Model.DataDefinitivaInicio == null)
                        {
                            <h6 class="text-info">Por definir</h6>
                        }
                        @if (Model.DataDefinitivaInicio != null)
                        {
                            @Html.DisplayFor(model => model.DataDefinitivaInicio)
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row"><h6>Data definitiva de fim</h6></th>
                    <td>
                        @if (Model.DataDefinitivaFim == null)
                        {
                            <h6 class="text-info">Por definir</h6>
                        }
                        @if (Model.DataDefinitivaFim != null)
                        {
                            @Html.DisplayFor(model => model.DataDefinitivaFim)
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row"><h6>Estado do projeto</h6></th>

                    <td>
                        @if (Model.EstadoProjeto.Equals("Em atraso"))
                        {
                            <h6 class="text-danger">
                                @Html.DisplayFor(model => model.EstadoProjeto)
                            </h6>
                        }
                        @if (Model.EstadoProjeto.Equals("Dentro do prazo"))
                        {
                            <h6 class="text-warning">
                                @Html.DisplayFor(model => model.EstadoProjeto)
                            </h6>
                        }
                        @if (Model.EstadoProjeto.Equals("Concluído dentro do prazo"))
                        {
                            <h6 class="text-success">
                                @Html.DisplayFor(model => model.EstadoProjeto)
                            </h6>
                        }
                        @if (Model.EstadoProjeto.Equals("Concluído fora do prazo"))
                        {
                            <h6 class="text-info">
                                @Html.DisplayFor(model => model.EstadoProjeto)
                            </h6>
                        }
                        @if (Model.EstadoProjeto.Equals(""))
                        {
                            <h6 class="text-primary">
                                @Html.DisplayFor(model => model.EstadoProjeto)
                            </h6>
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row"><h6>Cliente</h6></th>
                    <td> @Html.DisplayFor(model => model.Cliente.Nome)</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Gestor</h6></th>
                    <td> @Html.DisplayFor(model => model.Colaborador.Name)</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Imagem do projeto</h6></th>
                    <td><img src="@("~/Imagens/"+ Model.ImagemProjeto)" asp-append-version="true" width="60px" height="60px" alt="Card image cap" /></td>
                </tr>
            </tbody>
        </table>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProjetoSprintDesignID" />
        @if (User.IsInRole("gestor"))
        {
            <input type="submit" value="Apagar" class="btn btn-danger" />
        }
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </form>
</div>
