@model GestorDeTarefas.ViewModels.ProjetoSprintListViewModel

@{
    ViewData["Title"] = "Detalhes";
}
<div style="margin-bottom:379px;">
    <h1>Detalhes do Projeto Sprint Design</h1>

    <div>

        <table class="table ">
            <thead>
                <htr>
                    <th scope="col">Nome do Projeto</th>
                    <th scope="col">Colaboradores</th>
                    <th scope="col">Data de inicio</th>
                    <th scope="col">Data de fim</th>

                </htr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.NomeProjeto)
                    </td>
                    @if(Model.Colaboradores != null) { 
                    <td>
                        @foreach (var item in Model.Colaboradores)
                        {
                            if (item.Checked)
                            {
                                <div>@item.Name</div>
                                                             
                            }
                        }

                    </td>
                    <td>
                        @foreach (var item in Model.Colaboradores)
                        {
                            if (item.Checked)
                            {
                                <div>@item.DataInicio</div>

                            }
                        }

                    </td>
                    <td>
                        @foreach (var item in Model.Colaboradores)
                        {
                            if (item.Checked)
                            {
                                <div>@item.DataFim</div>

                            }
                        }
                    </td>
                    }
                </tr>

            </tbody>
        </table>

    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.ProjetoSprintDesignID" class="btn btn-warning">Editar</a> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>

</div>






