@model GestorDeTarefas.Models.ProjetoSprintDesign

@{
    ViewData["Title"] = "Detalhes";
} 
 
<h1>Detalhes Projeto Sprint Design</h1>

    <div class="table-responsive">
        <table class="table table-bordered " width="100%" cellspacing="0">

            <tbody>
                <tr>
                    <th scope="row"><h6>Nome do projeto</h6></th>
                    <td>@Html.DisplayFor(model => model.NomeProjeto)</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Data previda de inicio</h6></th>
                    <td>   @Model.DataPrevistaInicio.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Data prevista de fim</h6></th>
                    <td>@Model.DataPrevistaFim.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Data definitiva de fim</h6></th>
                    <td>
                        @if (Model.DataDefinitivaFim == null)
                        {
                            <h6 class="text-info">Por definir</h6>
                        }
                        @if (Model.DataDefinitivaFim != null)
                        {
                            @Html.DisplayFor(model => model.DataDefinitivaFim)
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row"><h6>Estado do projeto</h6></th>

                    <td>
                        @if (Model.EstadoProjeto.Equals("Em atraso"))
                        {
                            <h6 class="text-danger">
                                @Html.DisplayFor(model => model.EstadoProjeto)
                            </h6>
                        }
                        @if (Model.EstadoProjeto.Equals("Dentro do prazo"))
                        {
                            <h6 class="text-warning">
                                @Html.DisplayFor(model => model.EstadoProjeto)
                            </h6>
                        }
                        @if (Model.EstadoProjeto.Equals("Concluído dentro do prazo"))
                        {
                            <h6 class="text-success">
                                @Html.DisplayFor(model => model.EstadoProjeto)
                            </h6>
                        }
                        @if (Model.EstadoProjeto.Equals("Concluído fora do prazo"))
                        {
                            <h6 class="text-info">
                                @Html.DisplayFor(model => model.EstadoProjeto)
                            </h6>
                        }
                        @if (Model.EstadoProjeto.Equals(""))
                        {
                            <h6 class="text-primary">
                                @Html.DisplayFor(model => model.EstadoProjeto)
                            </h6>
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row"><h6>Cliente</h6></th>
                    <td> @Html.DisplayFor(model => model.Cliente.Nome)</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Gestor</h6></th>
                    <td> @Html.DisplayFor(model => model.Colaborador.Name)</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Imagem do projeto</h6></th>
                    <td><img src="@("~/Imagens/"+ Model.ImagemProjeto)" asp-append-version="true" width="60px" height="60px" alt="Card image cap" /></td>
                </tr>
            </tbody>
        </table>
    </div>





















    <div>
        <a asp-action="Edit" asp-route-id="@Model.ProjetoSprintDesignID" class="btn btn-warning">Editar</a> |
        <a asp-controller="PedidoClientes" asp-action="EnviarPedido" asp-route-id="@Model.ProjetoSprintDesignID" class="btn btn-primary">Pedir Alteração</a> |
        <a asp-action="ListaMensagem" asp-route-id="@Model.ProjetoSprintDesignID" asp-controller="PedidoClientes" class="btn btn-info">Mensagem Recebidas</a> |
        <a asp-action="Index" class="btn btn-secondary">Voltar à lista</a>
    </div>
</div>