@model GestorDeTarefas.Models.Contacto

@{
    ViewData["Title"] = "Apagar";
}

<h1>Apagar</h1>

<h3>Desejas apagar isto?</h3>
<div>
    <h4>Contacto</h4>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered " width="100%" cellspacing="0">

            <tbody>
                <tr>
                    <th scope="row"><h6>Nome</h6></th>
                    <td> @Html.DisplayFor(model => model.Nome)</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Sobrenome</h6></th>
                    <td> @Html.DisplayFor(model => model.Sobrenome)</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Verificado</h6></th>
                    <td> @Html.DisplayFor(model => model.Verificado)</td>
                </tr>
                <tr>
                    <th scope="row"><h6>E-mail</h6></th>
                    <td> @Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Data de envio</h6></th>

                    <td>@Model.DataEnvio.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Data da resposta </h6></th>
                    <td> @Html.DisplayFor(model => model.DataResposta)</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Assunto"</h6></th>
                    <td>@Html.DisplayFor(model => model.Assunto)</td>
                </tr>

                <tr>
                    <th scope="row"><h6>Mensagem</h6></th>
                    <td> @Html.DisplayFor(model => model.Mensagem)</td>
                </tr>
                <tr>
                    <th scope="row"><h6>Resposta </h6></th>
                    <td> @Html.DisplayFor(model => model.Resposta)</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ContactoId" />
        @if (User.IsInRole("gestor"))
        {
            <input type="submit" value="Delete" class="btn btn-danger" />
        }
        @if (User.IsInRole("admin"))
        {
            <input type="submit" value="Delete" class="btn btn-danger" />
        }
        <a class="btn btn-secondary " asp-action="Index">Voltar</a>
    </form>
</div>
