@model GestorDeTarefas.Models.Contacto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="table-responsive">
    <table class="table table-bordered " width="100%" cellspacing="0">

        <tbody>
            <tr>
                <th scope="row"><h6>Nome</h6></th>
                <td> @Html.DisplayFor(model => model.Nome)</td>
            </tr>
            <tr>
                <th scope="row"><h6>Sobrenome</h6></th>
                <td> @Html.DisplayFor(model => model.Sobrenome)</td>
            </tr>
            <tr>
                <th scope="row"><h6>Verificado</h6></th>
                <td> @Html.DisplayFor(model => model.Verificado)</td>
            </tr>
            <tr>
                <th scope="row"><h6>E-mail</h6></th>
                <td> @Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <th scope="row"><h6>Data de envio</h6></th>
                
                <td>@Model.DataEnvio.ToString("dd/MM/yyyy")</td>
            </tr>
            <tr>
                <th scope="row"><h6>Data da resposta </h6></th>
                <td> @Html.DisplayFor(model => model.DataResposta)</td>
            </tr>
            <tr>
                <th scope="row"><h6>Assunto"</h6></th>
                <td>@Html.DisplayFor(model => model.Assunto)</td>
            </tr>

            <tr>
                <th scope="row"><h6>Mensagem</h6></th>
                <td> @Html.DisplayFor(model => model.Mensagem)</td>
            </tr>
            <tr>
                <th scope="row"><h6>Resposta </h6></th>
                <td> @Html.DisplayFor(model => model.Resposta)</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="card-body mb-5">
        @if (!Model.Verificado == false)
        {
            <a class="btn btn-danger mr-4 float-left" href="#" onclick="Modal.open()">Responder</a>
            <div class="modal-overlay ">
                <div class="modal">

                    <div id="form">
                        <h2>Nova Transação</h2>
                        <form action="">
                            <div class="input-group">
                                <label class="sr-only" for="description">>Descrição</label>
                                <input type="text" id="description" name="description" placeholder=Descrição />
                            </div>

                            <div class="input-group">
                                <label class="sr-only" for="amount">Valor</label>
                                <input type="number" id="amount" name="amount" step="0.01" placeholder="0,00" />
                                <small class="help">
                                    Use o sinal de - (negativo) para despesas e , (virgula) para casas
                                    decimais
                                </small>
                            </div>

                            <div class="input-group">
                                <label class="sr-only" for="date">Data</label>
                                <input type="date" id="date" name="date" />
                            </div>
                            <div class="input-group actions">
                                <a href="#" onclick="Modal.close()" class="button cancel">Cancelar</a>
                                <button>Salvar</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        }
        else
        {
            <a class="btn btn-info mr-4 " asp-action="GestorResponde" asp-route-id="@Model.ContactoId">Responder</a>
        }

        <a class="btn btn-secondary " asp-action="Index">Voltar</a>
    </div>

    <script>
        const Modal = {
            open() {
                alert("Esta mensagem já foi respondida!!!");
            },
            close() {

            }
        }
    </script>













    
